<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.schriftgestaltung.Glyphs.fontUserData</key>
  <dict>
    <key>com.schriftgestaltung.Glyphs.groupsNotInFeature</key>
    <array/>
  </dict>
  <key>com.schriftgestaltung.appVersion</key>
  <string>1274</string>
  <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
  <integer>100</integer>
  <key>com.schriftgestaltung.fontMasterOrder</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.keyboardIncrement</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.weight</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>nonmarkingreturn</string>
    <string>space-mm</string>
    <string>exclam-mm</string>
    <string>quotedbl-mm</string>
    <string>numbersign-mm</string>
    <string>dollar-mm</string>
    <string>percent-mm</string>
    <string>ampersand-mm</string>
    <string>quotesingle-mm</string>
    <string>parenleft-mm</string>
    <string>parenright-mm</string>
    <string>asterisk-mm</string>
    <string>plus-mm</string>
    <string>hyphen-mm</string>
    <string>slash-mm</string>
    <string>colon-mm</string>
    <string>semicolon-mm</string>
    <string>less-mm</string>
    <string>equal-mm</string>
    <string>greater-mm</string>
    <string>at-mm</string>
    <string>bracketleft-mm</string>
    <string>backslash-mm</string>
    <string>bracketright-mm</string>
    <string>asciicircum-mm</string>
    <string>grave-mm</string>
    <string>braceleft-mm</string>
    <string>braceright-mm</string>
    <string>asciitilde-mm</string>
    <string>danda</string>
    <string>ahangkhudam-mm</string>
    <string>kok-mm</string>
    <string>sam-mm</string>
    <string>lai-mm</string>
    <string>mit-mm</string>
    <string>pa-mm</string>
    <string>na-mm</string>
    <string>chil-mm</string>
    <string>til-mm</string>
    <string>khou-mm</string>
    <string>ngou-mm</string>
    <string>thou-mm</string>
    <string>wai-mm</string>
    <string>yang-mm</string>
    <string>huk-mm</string>
    <string>un-mm</string>
    <string>i-mm</string>
    <string>pham-mm</string>
    <string>atiya-mm</string>
    <string>gok-mm</string>
    <string>jham-mm</string>
    <string>rai-mm</string>
    <string>ba-mm</string>
    <string>jil-mm</string>
    <string>dil-mm</string>
    <string>ghou-mm</string>
    <string>dhou-mm</string>
    <string>bham-mm</string>
    <string>koklonsum-mm</string>
    <string>lailonsum-mm</string>
    <string>mitlonsum-mm</string>
    <string>palonsum-mm</string>
    <string>nalonsum-mm</string>
    <string>tillonsum-mm</string>
    <string>ngoulonsum-mm</string>
    <string>ilonsum-mm</string>
    <string>onap-mm</string>
    <string>inap-mm</string>
    <string>anap-mm</string>
    <string>yenap-mm</string>
    <string>sounap-mm</string>
    <string>unap-mm</string>
    <string>cheinap-mm</string>
    <string>nung-mm</string>
    <string>cheikhei-mm</string>
    <string>lumiyek-mm</string>
    <string>apuniyek-mm</string>
    <string>zero-mm</string>
    <string>one-mm</string>
    <string>two-mm</string>
    <string>three-mm</string>
    <string>four-mm</string>
    <string>five-mm</string>
    <string>six-mm</string>
    <string>seven-mm</string>
    <string>eight-mm</string>
    <string>nine-mm</string>
  </array>
  <key>public.postscriptNames</key>
  <dict>
    <key>ahangkhudam-mm</key>
    <string>uniAAF1</string>
    <key>ampersand-mm</key>
    <string>uni0026</string>
    <key>anap-mm</key>
    <string>uniABE5</string>
    <key>apuniyek-mm</key>
    <string>uniABED</string>
    <key>asciicircum-mm</key>
    <string>uni005E</string>
    <key>asciitilde-mm</key>
    <string>uni007E</string>
    <key>asterisk-mm</key>
    <string>uni002A</string>
    <key>at-mm</key>
    <string>uni0040</string>
    <key>atiya-mm</key>
    <string>uniABD1</string>
    <key>ba-mm</key>
    <string>uniABD5</string>
    <key>backslash-mm</key>
    <string>uni005C</string>
    <key>bham-mm</key>
    <string>uniABDA</string>
    <key>braceleft-mm</key>
    <string>uni007B</string>
    <key>braceright-mm</key>
    <string>uni007D</string>
    <key>bracketleft-mm</key>
    <string>uni005B</string>
    <key>bracketright-mm</key>
    <string>uni005D</string>
    <key>cheikhei-mm</key>
    <string>uniABEB</string>
    <key>cheinap-mm</key>
    <string>uniABE9</string>
    <key>chil-mm</key>
    <string>uniABC6</string>
    <key>colon-mm</key>
    <string>uni003A</string>
    <key>danda</key>
    <string>uni0964</string>
    <key>dhou-mm</key>
    <string>uniABD9</string>
    <key>dil-mm</key>
    <string>uniABD7</string>
    <key>dollar-mm</key>
    <string>uni0024</string>
    <key>eight-mm</key>
    <string>uniABF8</string>
    <key>equal-mm</key>
    <string>uni003D</string>
    <key>exclam-mm</key>
    <string>uni0021</string>
    <key>five-mm</key>
    <string>uniABF5</string>
    <key>four-mm</key>
    <string>uniABF4</string>
    <key>ghou-mm</key>
    <string>uniABD8</string>
    <key>gok-mm</key>
    <string>uniABD2</string>
    <key>grave-mm</key>
    <string>uni0060</string>
    <key>greater-mm</key>
    <string>uni003E</string>
    <key>huk-mm</key>
    <string>uniABCD</string>
    <key>hyphen-mm</key>
    <string>uni002D</string>
    <key>i-mm</key>
    <string>uniABCF</string>
    <key>ilonsum-mm</key>
    <string>uniABE2</string>
    <key>inap-mm</key>
    <string>uniABE4</string>
    <key>jham-mm</key>
    <string>uniABD3</string>
    <key>jil-mm</key>
    <string>uniABD6</string>
    <key>khou-mm</key>
    <string>uniABC8</string>
    <key>kok-mm</key>
    <string>uniABC0</string>
    <key>koklonsum-mm</key>
    <string>uniABDB</string>
    <key>lai-mm</key>
    <string>uniABC2</string>
    <key>lailonsum-mm</key>
    <string>uniABDC</string>
    <key>less-mm</key>
    <string>uni003C</string>
    <key>lumiyek-mm</key>
    <string>uniABEC</string>
    <key>mit-mm</key>
    <string>uniABC3</string>
    <key>mitlonsum-mm</key>
    <string>uniABDD</string>
    <key>na-mm</key>
    <string>uniABC5</string>
    <key>nalonsum-mm</key>
    <string>uniABDF</string>
    <key>ngou-mm</key>
    <string>uniABC9</string>
    <key>ngoulonsum-mm</key>
    <string>uniABE1</string>
    <key>nine-mm</key>
    <string>uniABF9</string>
    <key>numbersign-mm</key>
    <string>uni0023</string>
    <key>nung-mm</key>
    <string>uniABEA</string>
    <key>onap-mm</key>
    <string>uniABE3</string>
    <key>one-mm</key>
    <string>uniABF1</string>
    <key>pa-mm</key>
    <string>uniABC4</string>
    <key>palonsum-mm</key>
    <string>uniABDE</string>
    <key>parenleft-mm</key>
    <string>uni0028</string>
    <key>parenright-mm</key>
    <string>uni0029</string>
    <key>percent-mm</key>
    <string>uni0025</string>
    <key>pham-mm</key>
    <string>uniABD0</string>
    <key>plus-mm</key>
    <string>uni002B</string>
    <key>quotedbl-mm</key>
    <string>uni0022</string>
    <key>quotesingle-mm</key>
    <string>uni0027</string>
    <key>rai-mm</key>
    <string>uniABD4</string>
    <key>sam-mm</key>
    <string>uniABC1</string>
    <key>semicolon-mm</key>
    <string>uni003B</string>
    <key>seven-mm</key>
    <string>uniABF7</string>
    <key>six-mm</key>
    <string>uniABF6</string>
    <key>slash-mm</key>
    <string>uni002F</string>
    <key>sounap-mm</key>
    <string>uniABE7</string>
    <key>space-mm</key>
    <string>uni0020</string>
    <key>thou-mm</key>
    <string>uniABCA</string>
    <key>three-mm</key>
    <string>uniABF3</string>
    <key>til-mm</key>
    <string>uniABC7</string>
    <key>tillonsum-mm</key>
    <string>uniABE0</string>
    <key>two-mm</key>
    <string>uniABF2</string>
    <key>un-mm</key>
    <string>uniABCE</string>
    <key>unap-mm</key>
    <string>uniABE8</string>
    <key>wai-mm</key>
    <string>uniABCB</string>
    <key>yang-mm</key>
    <string>uniABCC</string>
    <key>yenap-mm</key>
    <string>uniABE6</string>
    <key>zero-mm</key>
    <string>uniABF0</string>
  </dict>
</dict>
</plist>
