<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.schriftgestaltung.appVersion</key>
  <string>1272</string>
  <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
  <integer>100</integer>
  <key>com.schriftgestaltung.fontMasterOrder</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.keyboardIncrement</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.weight</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>nonmarkingreturn</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>danda</string>
    <string>hyphen</string>
    <string>lum iyek</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>anap</string>
    <string>bham</string>
    <string>kok lonsum</string>
    <string>dhou</string>
    <string>E</string>
    <string>pa lonsum</string>
    <string>ghou</string>
    <string>H</string>
    <string>i</string>
    <string>jham</string>
    <string>khou</string>
    <string>lai lonsum</string>
    <string>mit lonsum</string>
    <string>na lonsum</string>
    <string>sounap</string>
    <string>pham</string>
    <string>ngou lonsum</string>
    <string>R</string>
    <string>S</string>
    <string>thou</string>
    <string>un</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>cheinap</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>apun iyek</string>
    <string>grave</string>
    <string>atiya</string>
    <string>ba</string>
    <string>chil</string>
    <string>dil</string>
    <string>yenap</string>
    <string>f</string>
    <string>gok</string>
    <string>huk</string>
    <string>inap</string>
    <string>jil</string>
    <string>kok</string>
    <string>lai</string>
    <string>mit</string>
    <string>na</string>
    <string>onap</string>
    <string>pa</string>
    <string>ngou</string>
    <string>rai</string>
    <string>sam</string>
    <string>til</string>
    <string>unap</string>
    <string>v</string>
    <string>wai</string>
    <string>til lonsum</string>
    <string>yang</string>
    <string>nung</string>
    <string>braceleft</string>
    <string>cheikhei</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>Ccedilla</string>
    <string>Eacute</string>
    <string>Ntilde</string>
    <string>Odieresis</string>
    <string>Udieresis</string>
    <string>aacute</string>
    <string>agrave</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>atilde</string>
    <string>aring</string>
    <string>ccedilla</string>
    <string>eacute</string>
    <string>egrave</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>iacute</string>
    <string>igrave</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>ntilde</string>
    <string>oacute</string>
    <string>ograve</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>otilde</string>
    <string>uacute</string>
    <string>ugrave</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>dagger</string>
    <string>degree</string>
    <string>cent</string>
    <string>sterling</string>
    <string>section</string>
    <string>bullet</string>
    <string>paragraph</string>
    <string>germandbls</string>
    <string>registered</string>
    <string>copyright</string>
    <string>trademark</string>
    <string>acute</string>
    <string>dieresis</string>
    <string>AE</string>
    <string>Oslash</string>
    <string>plusminus</string>
    <string>yen</string>
    <string>mu</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>ae</string>
    <string>oslash</string>
    <string>questiondown</string>
    <string>exclamdown</string>
    <string>logicalnot</string>
    <string>florin</string>
    <string>guillemotleft</string>
    <string>guillemotright</string>
    <string>ellipsis</string>
    <string>nonbreakingspace</string>
    <string>Agrave</string>
    <string>Atilde</string>
    <string>Otilde</string>
    <string>OE</string>
    <string>oe</string>
    <string>endash</string>
    <string>emdash</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>divide</string>
    <string>ydieresis</string>
    <string>Ydieresis</string>
    <string>currency</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>daggerdbl</string>
    <string>periodcentered</string>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
    <string>perthousand</string>
    <string>Acircumflex</string>
    <string>Ecircumflex</string>
    <string>Aacute</string>
    <string>Edieresis</string>
    <string>Egrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Igrave</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Ograve</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Ugrave</string>
    <string>circumflex</string>
    <string>tilde</string>
    <string>macron</string>
    <string>cedilla</string>
    <string>Scaron</string>
    <string>scaron</string>
    <string>brokenbar</string>
    <string>Eth</string>
    <string>eth</string>
    <string>Yacute</string>
    <string>yacute</string>
    <string>Thorn</string>
    <string>thorn</string>
    <string>minus</string>
    <string>multiply</string>
    <string>onesuperior</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>onehalf</string>
    <string>onequarter</string>
    <string>threequarters</string>
    <string>Lslash</string>
    <string>lslash</string>
    <string>Zcaron</string>
    <string>zcaron</string>
    <string>notequal</string>
    <string>infinity</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>partialdiff</string>
    <string>summation</string>
    <string>product</string>
    <string>pi</string>
    <string>integral</string>
    <string>Omega</string>
    <string>radical</string>
    <string>approxequal</string>
    <string>Delta</string>
    <string>lozenge</string>
    <string>fraction</string>
    <string>fi</string>
    <string>fl</string>
    <string>apple</string>
    <string>dotlessi</string>
    <string>breve</string>
    <string>dotaccent</string>
    <string>ring</string>
    <string>hungarumlaut</string>
    <string>ogonek</string>
    <string>caron</string>
  </array>
</dict>
</plist>
