<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>.null</key>
  <string>_null.glif</string>
  <key>ahangkhudam-mm</key>
  <string>ahangkhudam-mm.glif</string>
  <key>ampersand-mm</key>
  <string>ampersand-mm.glif</string>
  <key>anap-mm</key>
  <string>anap-mm.glif</string>
  <key>apuniyek-mm</key>
  <string>apuniyek-mm.glif</string>
  <key>asciicircum-mm</key>
  <string>asciicircum-mm.glif</string>
  <key>asciitilde-mm</key>
  <string>asciitilde-mm.glif</string>
  <key>asterisk-mm</key>
  <string>asterisk-mm.glif</string>
  <key>at-mm</key>
  <string>at-mm.glif</string>
  <key>atiya-mm</key>
  <string>atiya-mm.glif</string>
  <key>ba-mm</key>
  <string>ba-mm.glif</string>
  <key>backslash-mm</key>
  <string>backslash-mm.glif</string>
  <key>bham-mm</key>
  <string>bham-mm.glif</string>
  <key>braceleft-mm</key>
  <string>braceleft-mm.glif</string>
  <key>braceright-mm</key>
  <string>braceright-mm.glif</string>
  <key>bracketleft-mm</key>
  <string>bracketleft-mm.glif</string>
  <key>bracketright-mm</key>
  <string>bracketright-mm.glif</string>
  <key>cheikhei-mm</key>
  <string>cheikhei-mm.glif</string>
  <key>cheinap-mm</key>
  <string>cheinap-mm.glif</string>
  <key>chil-mm</key>
  <string>chil-mm.glif</string>
  <key>colon-mm</key>
  <string>colon-mm.glif</string>
  <key>danda</key>
  <string>danda.glif</string>
  <key>dhou-mm</key>
  <string>dhou-mm.glif</string>
  <key>dil-mm</key>
  <string>dil-mm.glif</string>
  <key>dollar-mm</key>
  <string>dollar-mm.glif</string>
  <key>eight-mm</key>
  <string>eight-mm.glif</string>
  <key>equal-mm</key>
  <string>equal-mm.glif</string>
  <key>exclam-mm</key>
  <string>exclam-mm.glif</string>
  <key>five-mm</key>
  <string>five-mm.glif</string>
  <key>four-mm</key>
  <string>four-mm.glif</string>
  <key>ghou-mm</key>
  <string>ghou-mm.glif</string>
  <key>gok-mm</key>
  <string>gok-mm.glif</string>
  <key>grave-mm</key>
  <string>grave-mm.glif</string>
  <key>greater-mm</key>
  <string>greater-mm.glif</string>
  <key>huk-mm</key>
  <string>huk-mm.glif</string>
  <key>hyphen-mm</key>
  <string>hyphen-mm.glif</string>
  <key>i-mm</key>
  <string>i-mm.glif</string>
  <key>ilonsum-mm</key>
  <string>ilonsum-mm.glif</string>
  <key>inap-mm</key>
  <string>inap-mm.glif</string>
  <key>jham-mm</key>
  <string>jham-mm.glif</string>
  <key>jil-mm</key>
  <string>jil-mm.glif</string>
  <key>khou-mm</key>
  <string>khou-mm.glif</string>
  <key>kok-mm</key>
  <string>kok-mm.glif</string>
  <key>koklonsum-mm</key>
  <string>koklonsum-mm.glif</string>
  <key>lai-mm</key>
  <string>lai-mm.glif</string>
  <key>lailonsum-mm</key>
  <string>lailonsum-mm.glif</string>
  <key>less-mm</key>
  <string>less-mm.glif</string>
  <key>lumiyek-mm</key>
  <string>lumiyek-mm.glif</string>
  <key>mit-mm</key>
  <string>mit-mm.glif</string>
  <key>mitlonsum-mm</key>
  <string>mitlonsum-mm.glif</string>
  <key>na-mm</key>
  <string>na-mm.glif</string>
  <key>nalonsum-mm</key>
  <string>nalonsum-mm.glif</string>
  <key>ngou-mm</key>
  <string>ngou-mm.glif</string>
  <key>ngoulonsum-mm</key>
  <string>ngoulonsum-mm.glif</string>
  <key>nine-mm</key>
  <string>nine-mm.glif</string>
  <key>nonmarkingreturn</key>
  <string>nonmarkingreturn.glif</string>
  <key>numbersign-mm</key>
  <string>numbersign-mm.glif</string>
  <key>nung-mm</key>
  <string>nung-mm.glif</string>
  <key>onap-mm</key>
  <string>onap-mm.glif</string>
  <key>one-mm</key>
  <string>one-mm.glif</string>
  <key>pa-mm</key>
  <string>pa-mm.glif</string>
  <key>palonsum-mm</key>
  <string>palonsum-mm.glif</string>
  <key>parenleft-mm</key>
  <string>parenleft-mm.glif</string>
  <key>parenright-mm</key>
  <string>parenright-mm.glif</string>
  <key>percent-mm</key>
  <string>percent-mm.glif</string>
  <key>pham-mm</key>
  <string>pham-mm.glif</string>
  <key>plus-mm</key>
  <string>plus-mm.glif</string>
  <key>quotedbl-mm</key>
  <string>quotedbl-mm.glif</string>
  <key>quotesingle-mm</key>
  <string>quotesingle-mm.glif</string>
  <key>rai-mm</key>
  <string>rai-mm.glif</string>
  <key>sam-mm</key>
  <string>sam-mm.glif</string>
  <key>semicolon-mm</key>
  <string>semicolon-mm.glif</string>
  <key>seven-mm</key>
  <string>seven-mm.glif</string>
  <key>six-mm</key>
  <string>six-mm.glif</string>
  <key>slash-mm</key>
  <string>slash-mm.glif</string>
  <key>sounap-mm</key>
  <string>sounap-mm.glif</string>
  <key>space-mm</key>
  <string>space-mm.glif</string>
  <key>thou-mm</key>
  <string>thou-mm.glif</string>
  <key>three-mm</key>
  <string>three-mm.glif</string>
  <key>til-mm</key>
  <string>til-mm.glif</string>
  <key>tillonsum-mm</key>
  <string>tillonsum-mm.glif</string>
  <key>two-mm</key>
  <string>two-mm.glif</string>
  <key>un-mm</key>
  <string>un-mm.glif</string>
  <key>unap-mm</key>
  <string>unap-mm.glif</string>
  <key>wai-mm</key>
  <string>wai-mm.glif</string>
  <key>yang-mm</key>
  <string>yang-mm.glif</string>
  <key>yenap-mm</key>
  <string>yenap-mm.glif</string>
  <key>zero-mm</key>
  <string>zero-mm.glif</string>
</dict>
</plist>
