<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>.null</key>
  <string>_null.glif</string>
  <key>ahangkhudam</key>
  <string>ahangkhudam.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>anap</key>
  <string>anap.glif</string>
  <key>apun iyek</key>
  <string>apun iyek.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atiya</key>
  <string>atiya.glif</string>
  <key>ba</key>
  <string>ba.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bham</key>
  <string>bham.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>cheikhei</key>
  <string>cheikhei.glif</string>
  <key>cheinap</key>
  <string>cheinap.glif</string>
  <key>chil</key>
  <string>chil.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>danda</key>
  <string>danda.glif</string>
  <key>dhou</key>
  <string>dhou.glif</string>
  <key>dil</key>
  <string>dil.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>ghou</key>
  <string>ghou.glif</string>
  <key>gok</key>
  <string>gok.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>huk</key>
  <string>huk.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>ilonsum</key>
  <string>ilonsum.glif</string>
  <key>inap</key>
  <string>inap.glif</string>
  <key>jham</key>
  <string>jham.glif</string>
  <key>jil</key>
  <string>jil.glif</string>
  <key>khou</key>
  <string>khou.glif</string>
  <key>kok</key>
  <string>kok.glif</string>
  <key>kok lonsum</key>
  <string>kok lonsum.glif</string>
  <key>lai</key>
  <string>lai.glif</string>
  <key>lai lonsum</key>
  <string>lai lonsum.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lum iyek</key>
  <string>lum iyek.glif</string>
  <key>mit</key>
  <string>mit.glif</string>
  <key>mit lonsum</key>
  <string>mit lonsum.glif</string>
  <key>na</key>
  <string>na.glif</string>
  <key>na lonsum</key>
  <string>na lonsum.glif</string>
  <key>ngou</key>
  <string>ngou.glif</string>
  <key>ngou lonsum</key>
  <string>ngou lonsum.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>nung</key>
  <string>nung.glif</string>
  <key>onap</key>
  <string>onap.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>pa</key>
  <string>pa.glif</string>
  <key>pa lonsum</key>
  <string>pa lonsum.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>pham</key>
  <string>pham.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>rai</key>
  <string>rai.glif</string>
  <key>sam</key>
  <string>sam.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>sounap</key>
  <string>sounap.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>thou</key>
  <string>thou.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>til</key>
  <string>til.glif</string>
  <key>til lonsum</key>
  <string>til lonsum.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>un</key>
  <string>un.glif</string>
  <key>unap</key>
  <string>unap.glif</string>
  <key>wai</key>
  <string>wai.glif</string>
  <key>yang</key>
  <string>yang.glif</string>
  <key>yenap</key>
  <string>yenap.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
</dict>
</plist>
